Source: libosc++
Section: libs
Priority: extra
Maintainer: Jared Jennings <jjenning@fastmail.fm>
Build-Depends: debhelper (>> 4.0.0)
Standards-Version: 3.5.8

Package: libosc++0-dev
Section: libdevel
Architecture: any
Depends: libosc++0 (= ${Source-Version}), ${misc:Depends}
Description: Open Sound Control C++ library development files
 A library for encoding and decoding messages in the Open Sound Control
 protocol (which is transport-independent) and for sending and receiving
 OSC via TCP and UDP on top of IPv4 or IPv6.
 .
 This package contains the static library files and header files necessary for
 developing with libosc++, and developer documentation.

Package: libosc++0
Section: libs
Architecture: any
Depends: ${shlibs:Depends} ${misc:Depends}
Description: Open Sound Control C++ library
 A library for encoding and decoding messages in the Open Sound Control
 protocol (which is transport-independent) and for sending and receiving
 OSC via TCP and UDP on top of IPv4 or IPv6.

